name: Classifier Faces test

on:
  schedule:
    - cron: '0 0 1 * *'

env:
  APP_NAME: recognize

jobs:
  classifier:
    runs-on: ubuntu-latest

    name: Test classifier faces

    strategy:
      fail-fast: false
      matrix:
        pure-js-mode: ['false']

    steps:
      - name: Checkout app
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Read package.json node and npm engines version
        uses: skjnldsv/read-package-engines-version-actions@06d6baf7d8f41934ab630e97d9e6c0bc9c9ac5e4 # v3
        id: versions
        with:
          fallbackNode: '^12'
          fallbackNpm: '^6'

      - name: Set up node ${{ steps.versions.outputs.nodeVersion }}
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: ${{ steps.versions.outputs.nodeVersion }}

      - name: Set up npm ${{ steps.versions.outputs.npmVersion }}
        run: npm i -g npm@"${{ steps.versions.outputs.npmVersion }}"

      - name: Install app
        run: |
          make all

      - name: Run classifier tests
        env:
          FLICKR_API_KEY: ${{ secrets.FLICKR_API_KEY }}
          RECOGNIZE_PUREJS: ${{ matrix.pure-js-mode }}
        run: |
          node tests/faces-tests.js
